html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
    color: #2a2b2e;
    font-size: 1rem;
    font-family: "Nunito", "Arial Rounded", "Arial", sans-serif;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1.3rem;
    margin-top: 0;
}

.x {
    position: relative;
    color: #f2b101;
}

.x::after {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #f2b101;
    content: "••";
    font-size: 0.3em;
    letter-spacing: 0.7em;
}

.container {
    display: grid;
    grid-gap: 6px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    justify-content: center;
    position: relative;
}

.container-small {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    max-width: 10rem;
}

.container-medium {
    grid-template-columns: repeat(4, 1fr);
    max-width: 18rem;
}

.container-large {
    grid-template-columns: repeat(4, 1fr);
    max-width: 18rem;
}

@media (min-width: 768px) {
    .container-large {
        grid-template: repeat(8, 1fr) / repeat(8, 1fr);
        max-width: 40rem;
    }
}

.card {
    aspect-ratio: 1;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    display: flex;
    background-image: linear-gradient(
            to right,
            hsl(120deg 100% 25% / 50%),
            hsl(120deg 100% 29% / 50%),
            hsl(120deg 100% 25% / 50%)
        ),
        url("x.min.svg"),
        linear-gradient(
            to right,
            hsl(120deg 100% 25% / 100%),
            hsl(120deg 100% 29% / 100%),
            hsl(120deg 100% 25% / 100%)
        );
    background-size: auto, 25%, auto;
    background-repeat: repeat, no-repeat, repeat;
    background-position: center;
    font-size: 2.8rem;
    align-items: center;
    justify-content: center;
    color: hsl(0deg 0% 100% / 0%);
}

.card-turned {
    transition-duration: 500ms;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    background-image: none;
    background-color: #da042b;
    color: #ffffff;
}

.card-out {
    background-image: none;
    background-color: #808080;
    color: hsl(0deg 0% 100% / 60%);
}

.subtitle {
    font-size: clamp(0.8rem, 0.7000rem + 0.4444vw, 1.1rem);
    color: #008000;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.message {
    color: #008000;
    text-align: center;
    margin-top: 1rem;
}

.win-message {
    font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
    background-color: #f2b101;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    right: 1.2rem;
    bottom: 1.2rem;
    border-radius: 6px;
}

.buttons-container {
    display: flex;
    max-width: fit-content;
    margin-inline: auto;
    padding-inline: 1rem;
    justify-content: center;
    gap: 0.5rem;
}

.reset-button {
    font-size: clamp(0.7rem, 0.6rem + 0.4444vw, 1rem);
    font-family: inherit;
    display: block;
    margin: 0.6rem auto;
    padding: 0.5rem 1rem;
    background-color: #f2b101;
    color: #000000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
